<ion-menu contentId="main-content">
  <ion-toolbar class="">
    <ion-title>Conta</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>

  <ion-content class="ion-padding">
    <ion-avatar class="">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <p>{{ user.name }}</p>
    <div class="space-y-3 mt-10 flex flex-col justify-start">
      <div *ngFor="let item of items">
        <div
          [routerLink]="[item.path]"
          (click)="item.label === 'Sair da conta' ? handleLogout() : null"
          class="flex items-center space-x-1 text-lg"
        >
          <ion-icon name="{{ item.icon }}"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-header id="main-content" class="shadow-none border-b border-slate-400">
  <ion-toolbar class="shadow-none">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/chat']">
        <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
