<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="h-full">
    <ion-item [routerLink]="['/preferences/account']">
      <ion-icon name="person-circle" size="large" slot="start"></ion-icon>
      <ion-label>Editar conta</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/preferences/theme']">
      <ion-icon name="moon" size="large" slot="start"></ion-icon>
      <ion-label>Dark Mode</ion-label>
    </ion-item>
    
    <ion-item [routerLink]="['/preferences/privacy']">
      <ion-icon name="lock-closed" size="large" slot="start"></ion-icon>
      <ion-label>Privacidade</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
