<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex flex-col" *ngIf="userProfile">
  <div class="flex flex-col w-full ion-padding">
    <div class="flex items-center justify-between">
      <ion-avatar>
        <img
          alt=""
          src="{{ userProfile.profile.avatar }}"
          class="max-w-40 max-h-40 w-full h-full"
        />
      </ion-avatar>

      <div *ngIf="isUserProfileOwner">
        <ion-button shape="round" [routerLink]="[]">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-text class="ml-2">Editar</ion-text>
        </ion-button>
      </div>
      <div *ngIf="!isFriend && !isUserProfileOwner">
        <ion-button (click)="addFriend()">
          <ion-icon name="person-add-outline"></ion-icon>
          <ion-text class="ml-2">Conectar</ion-text>
        </ion-button>
      </div>
      <div *ngIf="isFriend">
        <ion-button
          [routerLink]="['/chat/', isFriend.conversationId, isFriend.userId]"
        >
          <ion-text class="ml-2">Enviar mensagem</ion-text>
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="flex flex-col">
      <p class="font-bold text-xl mt-2">{{ userProfile.name }}</p>
      <ion-text class="text-slate-400 leading-none mb-4">
        &#64;{{ userProfile.userName }}
      </ion-text>

      <p>{{ userProfile.profile.bio }}</p>
      <p class="mt-2">
        {{ userProfile.address.city }} - {{ userProfile.address.state }}
      </p>
      <ion-text class="text-slate-400 text-sm">{{
        userProfile.createdAt
      }}</ion-text>
      <section class="flex items-center text-xl gap-1 mt-1">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-github"></ion-icon>
      </section>
    </div>
  </div>

  <section class="w-full flex flex-col">
    <ion-segment value="posts" class="w-full border-b border-slate-400">
      <ion-segment-button value="posts">
        <ion-label class="font-sans">Publicações</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div>
      <post-component [data]="userPosts"></post-component>
    </div>
  </section>
</ion-content>
