<ion-menu contentId="main-content">
  <ion-toolbar class="">
    <ion-title>Conta</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="close-outline" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ion-content class=""> </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
