<ion-content class="ion-padding">
  <ion-fab class="fixed bottom-2 right-2" [routerLink]="['/event']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngFor="let event of events">
    <ion-card [routerLink]="['/event/',event.id]">
      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
        <ion-card-subtitle
          >{{formatDate(event.start_datetime,
          event.end_datetime)}}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>{{event.location}}</ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
