<ion-content class="" *ngIf="feed">
  <div
    class="border-slate-500 border-y border-opacity-20"
    *ngFor="let post of feed"
    [routerLink]="['/post/',post.id]"
  >
    <!-- <span class="text-slate-400 flex items-center ml-11 space-x-1">
      <ion-icon name="heart" color=""></ion-icon>
      <ion-text>João curtiu</ion-text>
    </span> -->
    <div class="flex flex-nowrap gap-2 w-full p-2">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        class="w-12 h-12 min-h-fit min-w-fit rounded-full"
      />
      <div class="flex flex-col w-full h-full">
        <div class="flex items-center space-x-1">
          <ion-text class="text-lg">{{post.owner?.name}}</ion-text>
          <ion-text class="text-slate-400"
            >&#64;{{post.owner?.userName}}</ion-text
          >
          <ion-text class="text-slate-400">·3h</ion-text>
        </div>
        <p class="text-start font-light">{{post.text}}</p>
        <footer class="flex items-center justify-between text-2xl my-1 pr-20">
          <div class="flex items-center gap-1">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <span class="text-base">{{post._count.comments}}</span>
          </div>

          <div class="flex items-center gap-1">
            <ion-icon name="repeat-sharp"></ion-icon>
            <span class="text-base">{{post._count.reposts}}</span>
          </div>

          <div class="flex items-center gap-1">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="text-base">{{post._count.likes}}</span>
          </div>

          <div class="flex items-center gap-1">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
        </footer>
      </div>
    </div>
  </div>
</ion-content>
