<ion-content class="">
  <div
    class="flex flex-nowrap gap-2 w-full border-slate-500 border-y border-opacity-50 p-2"
  >
    <img
      alt="Silhouette of a person's head"
      src="https://ionicframework.com/docs/img/demos/avatar.svg"
      class="w-12 h-12 min-h-fit min-w-fit rounded-full"
    />
    <div class="flex flex-col w-full h-full">
      <div class="flex space-x-1">
        <ion-text>Usuario</ion-text>
        <ion-text class="text-slate-400">&#64;username</ion-text>
        <ion-text class="text-slate-400">·3h</ion-text>
      </div>
      <p class="text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
        laudantium asperiores cupiditate fugiat dolorem, sapiente ab minima quas
        quos! Voluptates expedita esse consequuntur cum tenetur blanditiis
        perspiciatis placeat provident iste.
      </p>
      <footer class="flex items-center justify-between text-2xl my-1 pr-20">
        <div class="flex items-center gap-1">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <span class="text-base">5</span>
        </div>

        <div class="flex items-center gap-1">
          <ion-icon name="repeat-sharp" color="primary"></ion-icon>
          <span class="text-base">2</span>
        </div>

        <div class="flex items-center gap-1">
          <ion-icon name="heart" color="danger"></ion-icon>
          <span class="text-base">3</span>
        </div>

        <div class="flex items-center gap-1">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
      </footer>
    </div>
  </div>
</ion-content>
