<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="w-full">
      <ion-back-button></ion-back-button>
      <ion-item class="flex items-center gap-2 w-full">
        <ion-avatar class="mr-2">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label *ngIf="receiver">{{ receiver.name }}</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding space-y-3 flex w-full" *ngIf="messages">
  <div
    *ngFor="let message of messages"
    class="w-full grid justify-items-stretch"
  >
    <div
      [ngClass]="
        sender.sub != message.senderId
          ? 'bg-slate-100 text-black p-2 max-w-fit justify-self-start rounded-bl-2xl rounded-e-2xl'
          : 'bg-blue-800 text-white p-2 max-w-fit justify-self-end rounded-br-2xl rounded-l-2xl'
      "
    >
      <div class="flex flex-col">
        <!-- <ion-text *ngIf="if isGroup">
          <strong>{{
            sender.sub != message.senderId ? receiver.name : sender.name
          }}</strong>
        </ion-text> -->
        <ion-text>
          <p>{{ message.content }}</p>
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea
      [(ngModel)]="message.content"
      placeholder="Digite sua mensagem"
      class="p-4"
    />
    <ion-button (click)="sendMessage()"
      ><ion-icon name="send-outline" size="large"></ion-icon
    ></ion-button>
  </ion-item>
</ion-footer>
