<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="friends">
  <div *ngIf="friends.length == 0">Você não tem networks ainda</div>
  <ion-text class="text-center flex justify-center text-lg">Amigos:</ion-text>

  <div *ngFor="let friend of friends">
    <ion-item [routerLink]="['/chat/', friend.conversationId]">
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="{{ friend.user?.profile?.avatar }}"
        />
      </ion-avatar>

      <ion-label>{{ friend.user?.name }}</ion-label>
    </ion-item>
  </div>

  <ion-text class="text-center flex justify-center text-lg">Eventos:</ion-text>
  <div *ngFor="let event of events">
    <ion-item [routerLink]="['/chat/', event.event.conversationId]">
      <ion-label>{{ event.event.title }}</ion-label>
    </ion-item>
  </div>
</ion-content>
