<app-header></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="border-t border-slate-300">
      <ion-tab-button tab="tickets" href="/tabs/tickets">
        <ion-icon aria-hidden="true" name="ticket-outline"></ion-icon>
        <ion-label class="">Ingressos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="feed" href="/tabs/feed">
        <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="events" href="/tabs/events">
        <ion-icon aria-hidden="false" name="calendar-outline"></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
