<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding space-y-5" *ngIf="event">
  <ion-text>
    <h1 class="text-2xl font-bold">{{ event.title }}</h1>
  </ion-text>

  <ion-text class="flex items-center gap-2 text-sm">
    <ion-icon name="calendar-outline" class="text-xl"></ion-icon>
    <p>{{ formatDate(event.start_datetime, event.end_datetime) }}</p>
  </ion-text>

  <ion-text class="flex items-center gap-2 text-sm">
    <ion-icon name="location-outline" class="text-xl"></ion-icon>
    <p>{{ event.location }}</p>
  </ion-text>

  <div class="flex flex-col mt-4 gap-2">
    <ion-text>
      <h1 class="text-xl font-bold">Descrição do evento:</h1>
    </ion-text>

    <ion-text>
      {{ event.description }}
    </ion-text>

    <div class="flex flex-col items-center my-5 space-y-2">
      <ion-text class="text-lg font-bold">QR Code do Evento</ion-text>
      <img src="{{ event.qr_code }}" alt="qrcode do evento" />
    </div>
    <ion-button (click)="signInEvent()">Participar do Evento</ion-button>
  </div>
</ion-content>
